# Usage:
# Make a copy of this file to a local .env file and change settings as needed
# ----
# Set the output_folder to use during test 
#  - if not set a tmp folder will be created and removed
#TEST_OUTFOLDER=/tmp/test_ddcat